<div class="food-list">
  <div class="title-button">
    <h1>Foods</h1>
    <%= link_to "New food", new_food_path, class: "new-food" %>
  </div>

  <div id="foods">
    <table class="foods-table">
        <tr>
          <th>ID.</th>
          <th>Name</th>
          <th>Measurement Unit</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>

      <% @foods.each do |food| %>
        <% if food.user_id == current_user.id %>
        
          <tr>
            <td><%= food.id %></th>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td><%= food.quantity %></td>
            <td><%= button_to "Delete this food", food, method: :delete %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

</div>